<form class="code-submission-form">
  <div>
    <p>Olá {{ user.firstName }}!</p>
    <label [hidden]="phase !== 1" for="editor"
      >Copia e cola o teu código ou escolhe um ficheiro .java do teu sistema.
      Garante que não tem erros!</label
    >
  </div>
  <div class="editor-wrapper">
      <ngx-codemirror
        id="editor"
        required
        [disabled]="phase !== 1"
        [(ngModel)]="code"
        name="code"
        [options]="{
      lineNumbers: true,
      theme: 'neat',
      mode: 'text/x-java'
    }"
      ></ngx-codemirror>
    <br>
    <div *ngIf="phase === 1">
      <label
        for="upload-input"
        class="btn"
        style="border: 1px solid; margin-bottom: 0"
      >Escolher ficheiro...
      </label>

      <button
        class="ml-2"
        mat-raised-button
        color="primary"
        [disabled]="code == null || code === ''"
        (click)="submitCode()"
      >
        SUBMETER CÓDIGO
      </button>

      <input
        type="file"
        accept=".java"
        (change)="getFile($event)"
        style="visibility: hidden"
        id="upload-input"
      />
    </div>
  </div>
  <br />
</form>
