.example-full-width {
    width: 100%;
  }

.code-submission-form {
    width: 100%;
}

.container header, form {
    padding-left: 2%;
}

.container {
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px; /* height of your footer */
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

input {
  border-radius: 10px;
  border: 1px solid rgba(136, 136, 136, .3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}

textarea {
  border-radius: 10px;
  border: 1px solid rgba(136, 136, 136, .3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}

form div label {
  font-weight: 500;
}

form p {
  font-weight: 500;
}

