<div class="container" style="background-color: white;">

    <div class="mt-4">
        <img
            src="../assets/iscte_logo.jpg"
            width="370"
            height="100"
        />
    </div>

    <header>
        <h1>Question Generator</h1>
        <p class="tagline">Generates questions about your own programming code!</p>
    </header>

    <br>


  <div class="col text-center" *ngIf="phase === 0">
    <br>
    <button mat-raised-button color="primary" (click)="login()">SIGN IN WITH GOOGLE</button>
    <br>
    <br>
    <i style="font-size: 12px">Use your university email if possible.<br>
      Only your email and name are used for statistic purposes. They won't be disclosed without your permission.</i>
  </div>

  <form class="code-submission-form" *ngIf="phase !== 0">
    <p>Hello {{ user.firstName }}!</p>
    <label for="editor">Paste your code here (make sure it has no errors!)</label>
    <ngx-codemirror
      id="editor"
      required
      [disabled]="phase !== 1"
      [(ngModel)]="code"
      name="code"
      [options]="{
              lineNumbers: true,
              theme: 'default',
              mode: 'text/x-java'
              }"
    ></ngx-codemirror>
    <br>
    <div class="col text-center">
    <button mat-raised-button color="primary" [disabled]="code == null || code === ''" *ngIf="phase === 1 && !loading" (click)="submitCode()">SUBMIT CODE</button>
    </div>
  </form>

    <div *ngIf="loading" style="margin:auto; width: 10%;">
        <mat-spinner [diameter]="50" ></mat-spinner>
    </div>

    <form class="answer-submission-form" *ngIf="phase === 2 && !loading" #answerSubmissionForm="ngForm">
        <h3>Answer the following questions about your code</h3>
        <div *ngFor="let qa of interaction?.qas; let index = index; trackBy: trackByIndex">
          <br>
            <mat-form-field *ngIf="qa.question.returnType != 'BOOLEAN' && qa.question.returnType != 'COLLECTION'" class="example-full-width">
                <mat-label>{{ qa.question.question }}</mat-label>
                <input type="number" *ngIf="qa.question.returnType != 'STRING'" matInput name="answer{{index}}" required [(ngModel)]="qa.userAnswer">
                <input type="text" *ngIf="qa.question.returnType == 'STRING'" matInput name="answer{{index}}" required [(ngModel)]="qa.userAnswer">
              </mat-form-field>

            <div *ngIf="qa.question.returnType == 'BOOLEAN'">
              <label id="radio-label">{{ qa.question.question }}</label>
              <br>
              <mat-radio-group required class="radio-group" [(ngModel)]="qa.userAnswer" name="answer{{index}}"
                               aria-labelledby="radio-label">
                <mat-radio-button value="true">True</mat-radio-button>
                <br>
                <mat-radio-button value="false">False</mat-radio-button>
              </mat-radio-group>
            </div>

          <mat-form-field *ngIf="qa.question.returnType == 'COLLECTION'" class="example-full-width">
            <mat-label>{{ qa.question.question}}</mat-label>
            <textarea matInput placeholder="Type 1 value per line..." name="answer{{index}}" required [(ngModel)]="qa.userAnswer"></textarea>
          </mat-form-field>

        </div>
        <br>
      <div class="col text-center">
          <button mat-raised-button color="primary" [disabled]="!answerSubmissionForm.valid" (click)="submitAnswers()">SUBMIT ANSWERS</button>
        </div>
    </form>

    <form class="evaluation-form" *ngIf="phase === 3 && !loading">
        <h3>Review your answers against the correct answers</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let fb of feedback">{{ fb }}</li>
          </ul>
          <br>

          <div class="col text-center">
            <button mat-raised-button color="primary" (click)="cleanup()">SUBMIT NEW CODE</button>
          </div>
    </form>


    <footer>
        <div class="text-muted text-center mt-4 mb-4">© 2021 Tiago Martinho</div>
      </footer>
</div>
