.container {
  min-height: 100vh; /* will cover the 100% of viewport */
  min-width: 80vw;
  max-width: 90vw;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 5px; /* height of your footer */
  background-color: white;
}

footer {
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}


