<form class="answer-submission-form" #answerSubmissionForm="ngForm">
  <h4>Responde às seguintes questões sobre o teu código:</h4>
  <div
    *ngFor="
      let qa of interaction?.qas;
      let index = index;
      trackBy: trackByIndex
    "
  >

      <div class="col-12 mt-2" id="answerBlock">
        <div class="mt-3" *ngIf="qa.question.returnType != 'BOOLEAN'">
          <label>
            <b>{{ index + 1 }}. </b> <span [innerHTML]="qa.question.question"></span>
            <fa-icon
              *ngIf="!isAnswerIncorrect(qa) && phase === 3"
              [icon]="faCheck"
              style="color: green"
            ></fa-icon>
            <fa-icon
              *ngIf="isAnswerIncorrect(qa) && phase === 3"
              [icon]="faTimes"
              style="color: red"
            ></fa-icon>
            <br/>
            <input
              *ngIf="qa.question.returnType == 'INT'"
              class="mt-3"
              type="number"
              name="answer{{ index }}"
              [disabled]="phase === 3"
              required
              [(ngModel)]="qa.userAnswer"
            />
            <input
              *ngIf="qa.question.returnType == 'STRING'"
              class="mt-3"
              size="40"
              type="text"
              name="answer{{ index }}"
              [disabled]="phase === 3"
              required
              [(ngModel)]="qa.userAnswer"
            />
            <ng-select *ngIf="qa.question.returnType == 'VARIABLEROLE'"
                       class="mt-3"
                       name="answer{{ index }}"
                       bindValue="value"
                       bindLabel="label"
                       [disabled]="phase === 3"
                       [items]="variableRoles"
                       [(ngModel)]="qa.userAnswer">
            </ng-select>
            <textarea
              *ngIf="qa.question.returnType == 'SET' || qa.question.returnType == 'LIST'"
              class="mt-3"
              rows="3"
              cols="40"
              placeholder="Digita 1 valor por linha..."
              name="answer{{ index }}"
              [disabled]="phase === 3"
              (keypress)="omitSpecialChars($event)"
              required
              [(ngModel)]="qa.userAnswer"
            ></textarea>
          </label>
          <i class="text-muted" *ngIf="isAnswerIncorrect(qa)">
            <br/>
            <br/>
            {{ answerTemplate }} {{ getCorrectAnswer(qa) }}
          </i>
        </div>
        <div class="mt-3" *ngIf="qa.question.returnType == 'BOOLEAN'">
          <label id="radio-label">
            <b>{{ index + 1 }}. </b> <span [innerHTML]="qa.question.question"></span>
          </label>
          <br/>
          <mat-radio-group
            required
            [disabled]="phase === 3"
            class="radio-group mt-2"
            [(ngModel)]="qa.userAnswer"
            name="answer{{ index }}"
            aria-labelledby="radio-label"
          >
            <mat-radio-button value="true"
            >Verdadeiro
              <fa-icon
                *ngIf="!isAnswerIncorrect(qa) && qa.userAnswer == 'true' && phase === 3"
                [icon]="faCheck"
                style="color: green"
              ></fa-icon>
              <fa-icon
                *ngIf="isAnswerIncorrect(qa) && qa.userAnswer == 'true' && phase === 3"
                [icon]="faTimes"
                style="color: red"
              ></fa-icon>
            </mat-radio-button>
            <br/>
            <mat-radio-button value="false"
            >Falso
              <fa-icon
                *ngIf="!isAnswerIncorrect(qa) && qa.userAnswer == 'false' && phase === 3"
                [icon]="faCheck"
                style="color: green"
              ></fa-icon>
              <fa-icon
                *ngIf="isAnswerIncorrect(qa) && qa.userAnswer == 'false' && phase === 3"
                [icon]="faTimes"
                style="color: red"
              ></fa-icon>
            </mat-radio-button>
          </mat-radio-group>
          <i
            class="text-muted"
            *ngIf="qa.correctAnswer != null && qa.correctAnswer != qa.userAnswer"
          >
            <br/>
            <br/>
            {{ answerTemplate }}
            {{ qa.correctAnswer == "true" ? "Verdadeiro" : "Falso" }}
          </i>
        </div>
        <div class="mt-2 text-muted">
          <small>Nível de confiança para a resposta dada:</small>&nbsp;
          <mat-slider [disabled]="phase === 3" required min="1" max="5" step="1" name="confidenceLevel{{ index }}" [(ngModel)]="qa.confidenceLevel" thumbLabel tickInterval="1"></mat-slider>
        </div>
      </div>

  </div>
  <br/>
  <div *ngIf="phase === 2">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!answerSubmissionForm.valid"
      (click)="submitAnswers()"
    >
      SUBMETER RESPOSTAS
    </button>
  </div>
  <div *ngIf="phase === 3">
    <button mat-raised-button color="primary" (click)="cleanup()">
      NOVA SUBMISSÃO
    </button>
  </div>
</form>
