<form class="answer-submission-form" #answerSubmissionForm="ngForm">
  <br/>
  <h4>Responde às seguintes questões sobre o teu código:</h4>
  <div
    *ngFor="
      let qa of interaction?.qas;
      let index = index;
      trackBy: trackByIndex
    "
  >
    <div class="mt-3"
      *ngIf="
        qa.question.returnType != 'BOOLEAN' &&
        qa.question.returnType != 'COLLECTION'
      "
    >
      <label>
        <b>{{ index + 1 }}. </b> <span [innerHTML]="qa.question.question"></span>
        <fa-icon
          *ngIf="isAnswerCorrect(qa)"
          [icon]="faCheck"
          style="color: green"
        ></fa-icon>
        <fa-icon
          *ngIf="isAnswerIncorrect(qa)"
          [icon]="faTimes"
          style="color: red"
        ></fa-icon>
        <br/>
        <input
          class="mt-2"
          type="number"
          *ngIf="qa.question.returnType != 'STRING'"
          name="answer{{ index }}"
          [disabled]="phase === 3"
          required
          [(ngModel)]="qa.userAnswer"
        />
        <input
          class="mt-2"
          size="40"
          type="text"
          *ngIf="qa.question.returnType == 'STRING'"
          name="answer{{ index }}"
          [disabled]="phase === 3"
          required
          [(ngModel)]="qa.userAnswer"
        />
      </label>
      <i
        class="text-muted"
        *ngIf="qa.correctAnswer != null && qa.correctAnswer != qa.userAnswer"
      >
        <br/>
        {{ answerTemplate }} {{ qa.correctAnswer }}
      </i>
    </div>

    <div class="mt-3" *ngIf="qa.question.returnType == 'BOOLEAN'">
      <label id="radio-label">
        <b>{{ index + 1 }}. </b> <span [innerHTML]="qa.question.question"></span>
      </label>
      <br/>
      <mat-radio-group
        required
        [disabled]="phase === 3"
        class="radio-group mt-2"
        [(ngModel)]="qa.userAnswer"
        name="answer{{ index }}"
        aria-labelledby="radio-label"
      >
        <mat-radio-button value="true"
        >Verdadeiro
          <fa-icon
            *ngIf="isAnswerCorrect(qa) && qa.userAnswer == 'true'"
            [icon]="faCheck"
            style="color: green"
          ></fa-icon>
          <fa-icon
            *ngIf="isAnswerIncorrect(qa) && qa.userAnswer == 'true'"
            [icon]="faTimes"
            style="color: red"
          ></fa-icon>
        </mat-radio-button>
        <br/>
        <mat-radio-button value="false"
        >Falso
          <fa-icon
            *ngIf="isAnswerCorrect(qa) && qa.userAnswer == 'false'"
            [icon]="faCheck"
            style="color: green"
          ></fa-icon>
          <fa-icon
            *ngIf="isAnswerIncorrect(qa) && qa.userAnswer == 'false'"
            [icon]="faTimes"
            style="color: red"
          ></fa-icon>
        </mat-radio-button>
      </mat-radio-group>
      <br/>
      <i
        class="text-muted"
        *ngIf="qa.correctAnswer != null && qa.correctAnswer != qa.userAnswer"
      >
        {{ answerTemplate }}
        {{ qa.correctAnswer == "true" ? "Verdadeiro" : "Falso" }}
      </i>
    </div>

    <div
      *ngIf="qa.question.returnType == 'COLLECTION'"
      class="full-width mt-3"
    >
      <label>
        <b>{{ index + 1 }}. </b> <span [innerHTML]="qa.question.question"></span>
        <fa-icon
          *ngIf="isAnswerCorrect(qa)"
          [icon]="faCheck"
          style="color: green"
        ></fa-icon>
        <fa-icon
          *ngIf="isAnswerIncorrect(qa)"
          [icon]="faTimes"
          style="color: red"
        ></fa-icon>
        <br/>
        <textarea
          class="mt-2"
          rows="3"
          cols="40"
          placeholder="Digita 1 valor por linha..."
          name="answer{{ index }}"
          [disabled]="phase === 3"
          (keypress)="omitSpecialChars($event)"
          required
          [(ngModel)]="qa.userAnswer"
        ></textarea>
      </label>
      <i class="text-muted" *ngIf="isAnswerIncorrect(qa)">
        <br/>
        {{ answerTemplate }} {{ qa.correctAnswer }}
      </i>
    </div>
  </div>
  <br/>
  <div *ngIf="phase === 2">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!answerSubmissionForm.valid"
      (click)="submitAnswers()"
    >
      SUBMETER RESPOSTAS
    </button>
  </div>
  <div *ngIf="phase === 3">
    <button mat-raised-button color="primary" (click)="cleanup()">
      NOVA SUBMISSÃO
    </button>
  </div>
</form>
