/* You can add global styles to this file, and also import other style files */
@import "~codemirror/lib/codemirror";
@import "~codemirror/theme/idea";
@import "~codemirror/theme/neat";

.CodeMirror {
  width: 700px;
  max-width: 700px;
  height: 600px;
  max-height: 600px;
  border-radius: 6px;
  border: 1px solid rgba(136, 136, 136, 0.35);
}

@import "~@ng-select/ng-select/themes/default.theme.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr";
