label {
  width: 400px;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: right;
}

input {
  border-radius: 10px;
  border: 1px solid rgba(136, 136, 136, 0.3);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
  height: 20px;
  margin-left: 10px;
}
